<div id="category-detail" class="main-detail category-detail">
  <div class="header">
    <div class="title">
      <h3>分类：KT板</h3>
      <p>材料单位：个</p>
    </div>
    <div class="tools">
      <button class="btn btn-red edit-lock">锁定编辑</button>
    </div>
  </div>
  <div id="list">
    <ul>
      <li class="list-heads">
        <div class="list-head id">编号</div>
        <div class="list-head name">名称</div>
        <div class="list-head brand">品牌</div>
        <div class="list-head model">型号</div>
        <div class="list-head standard">规格/尺寸</div>
        <div class="list-head color">颜色</div>
        <div class="list-head price">单价(元)</div>
        <div class="list-head date">更新日期</div>
        <div class="list-head remark">备注</div>
        <div class="list-head operate">操作</div>
      </li>
      <li class="list-items">
        <div class="list-item id">1504103946000</div>
        <div class="list-item name">kt</div>
        <div class="list-item brand">小明牌</div>
        <div class="list-item model">AAA</div>
        <div class="list-item standard">80cm</div>
        <div class="list-item color">红色</div>
        <div class="list-item price">50</div>
        <div class="list-item date">2017/08/09</div>
        <div class="list-item remark">缺货</div>
        <div class="list-item operate"></div>
      </li>
      <li class="list-items">
        <div class="list-item id">1504103946000</div>
        <div class="list-item name">kt</div>
        <div class="list-item brand">小明牌</div>
        <div class="list-item model">AAA</div>
        <div class="list-item standard">80cm</div>
        <div class="list-item color">红色</div>
        <div class="list-item price">50</div>
        <div class="list-item date">2017/08/09</div>
        <div class="list-item remark">缺货</div>
        <div class="list-item operate"></div>
      </li>
      <li class="list-items">
        <div class="list-item id">1504103946000</div>
        <div class="list-item name">kt</div>
        <div class="list-item brand">小明牌</div>
        <div class="list-item model">AAA</div>
        <div class="list-item standard">80cm</div>
        <div class="list-item color">红色</div>
        <div class="list-item price">50</div>
        <div class="list-item date">2017/08/09</div>
        <div class="list-item remark">缺货</div>
        <div class="list-item operate"></div>
      </li>
      <li class="list-items">
        <div class="list-item id">1504103946000</div>
        <div class="list-item name">kt</div>
        <div class="list-item brand">小明牌</div>
        <div class="list-item model">AAA</div>
        <div class="list-item standard">80cm</div>
        <div class="list-item color">红色</div>
        <div class="list-item price">50</div>
        <div class="list-item date">2017/08/09</div>
        <div class="list-item remark">缺货</div>
        <div class="list-item operate"></div>
      </li>
    </ul>
  </div>
</div>
