#category-detail {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 38px 8px 16px;
    width: 100%;
    min-width: 500px;
    height: 60px;
    box-sizing: border-box;
    cursor: default;
    .title {
      display: flex;
      width: 300px;
      align-items: center;
      h3 {
        margin-right: 50px;
      }
    }
    .tools {
      display: flex;
      align-items: center;
      .edit-lock {
        padding: 6px 10px;
        border-radius: 3px;
      }
    }
  }
  #list {
    display: flex;
    flex-direction: column;
    cursor: default;
    ul {
      display: flex;
      flex-direction: column;
      li {
        display: flex;
        flex-direction: row;
      }
    }
    .list-heads, .list-items {
      padding: 8px 38px 8px 16px;
      align-items: center;
    }
    .list-head, .list-item {
      display: flex;
      flex: 1;
      margin-right: 6px;
      box-sizing: border-box;
      word-break: break-all;
    }
    .list-item {
      -webkit-user-modify: read-write-plaintext-only;
      min-height: 40px;
      display: flex;
      align-items: center;
      &:focus {
        outline: 1px solid #0366d6;
      }
    }
    .editable {
      -webkit-user-modify: read-write-plaintext-only;
    }
    .list-heads {
      color: white;
      background-color: #484d52;
    }
    .list-items:nth-child(odd) {
      background-color: #f1f8ff;
    }
    .list-items:hover {
      //color: white;
      background-color: #ccffd8;
    }
    .id {
      min-width: 90px;
    }
    .name {
      min-width: 80px;
    }
    .brand {
      min-width: 90px;
    }
    .model {
      min-width: 80px;
    }
    .standard {
      min-width: 90px;
    }
    .color {
      min-width: 64px;
    }
    .price {
      min-width: 80px;
    }
    .date {
      min-width: 100px;
    }
    .remark {
      min-width: 110px;
    }
    .operate {
      min-width: 130px;
      .btn {
        padding: 3px 6px;
        margin-right: 6px;
        border-radius: 6px;
      }
      .add {
        margin-left: 6px;
        font-size: 22px;
        border-radius: 50px;
        background-color: white;
        color: #0366d6;
        &:hover {
          color: #0372ef;
        }
      }
    }
  }
}
