#category-detail {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 38px 8px 16px;
    width: 100%;
    min-width: 500px;
    height: 60px;
    box-sizing: border-box;
    cursor: default;
    .title {
      display: flex;
      width: 500px;
      align-items: center;
      h3 {
        margin-right: 50px;
      }
      p {
        span {
          display: inline-block;
          min-width: 42px;
          font-size: 18px;
          font-weight: bold;
          text-align: center;
        }
      }
    }
    .tools {
      display: flex;
      align-items: center;
      .btn {
        padding: 6px 10px;
        border-radius: 3px;
        margin-left: 20px;
      }
    }
    .editable {
      -webkit-user-modify: read-write-plaintext-only;
    }
  }
  #list {
    display: flex;
    flex-direction: column;
    cursor: default;
    ul {
      display: flex;
      flex-direction: column;
      li {
        display: flex;
        flex-direction: row;
      }
    }
    .list-heads, .list-items {
      padding: 8px 38px 8px 16px;
      align-items: center;
    }
    .list-head, .list-item {
      display: flex;
      flex: 1;
      margin-right: 6px;
      box-sizing: border-box;
      word-break: break-all;
    }
    .list-item {
      min-height: 40px;
      line-height: 40px;
      display: flex;
      align-items: center;
      &:focus {
        outline: -webkit-focus-ring-color auto 5px;
        outline-offset: 2px;
        background-color: white;
      }
    }
    .editable {
      -webkit-user-modify: read-write-plaintext-only;
    }
    .list-heads {
      color: white;
      background-color: #484d52;
      user-select: none;
    }
    .list-items:nth-child(odd) {
      background-color: #f1f8ff;
    }
    .list-items:hover {
      //color: white;
      background-color: #ccffd8;
    }
    .id {
      min-width: 160px;
    }
    .name {
      min-width: 80px;
    }
    .brand {
      min-width: 90px;
    }
    .model {
      min-width: 80px;
    }
    .standard {
      min-width: 90px;
    }
    .color {
      min-width: 64px;
    }
    .price {
      min-width: 80px;
    }
    .date {
      min-width: 100px;
    }
    .remark {
      min-width: 110px;
    }
    .operate {
      min-width: 130px;
      user-select: none;
      .btn {
        padding: 3px 6px;
        margin-right: 6px;
        border-radius: 6px;
      }
      .add {
        margin-left: 6px;
        font-size: 22px;
        border-radius: 50px;
        background-color: white;
        color: #0366d6;
        &:hover {
          color: #0372ef;
        }
      }
    }
    .add-item {
      background-color: #ffeeee;
      .id {
        font-weight: bold;
      }
    }
  }
}
.modal-mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
}
.my-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  .dialog-modal {
    user-select: none;
    .dialog-content {
      .modal-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        width: 100%;
        height: 36px;
        background-color: #f1f1f1;
        box-sizing: border-box;
        font-weight: bold;
        cursor: default;
        .modal-header-close {
          display: block;
          width: 20px;
          height: 20px;
          cursor: pointer;
          color: #cecece;
        }
      }
      .modal-body {
        padding: 20px 30px;
        .input-item {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 10px;
          height: 38px;
          label {
            width: 88px;
          }
          input.modal-input {
            display: block;
            flex: 1;
            height: 26px;
            border: none;
            border-bottom: 1px solid #ccc;
            &:focus {
              outline: none;
            }
          }
        }
      }
      .modal-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 90px 20px 90px;
        .btn {
          padding: 6px 10px;
          border-radius: 3px;
        }
      }
    }
  }
}
