<div id="desktop-toolbar" class="desktop-toolbar">
  <div class="desktop-toolbar-selection current-order">
    <i class="iconfont">&#xe61d;</i>
    <div class="tool">
      <div class="title">当前订单：<span class="detail">一号订单</span></div>
    </div>
  </div>
  <div class="desktop-toolbar-selection">
    <i class="iconfont">&#xe619;</i>
    <div class="tool">
      <div class="title">新增订单</div>
    </div>
  </div>
  <div class="desktop-toolbar-selection">
    <i class="iconfont">&#xe64d;</i>
    <div class="tool">
      <div class="title">删除所选</div>
    </div>
  </div>
  <div class="desktop-toolbar-space">

  </div>
  <div class="desktop-toolbar-selection exit">
    <i class="iconfont">&#xe60e;</i>
    <div class="tool">
      <div class="title">退出登录</div>
    </div>
  </div>
</div>
