<div id="side-menu">
  <div class="menu-option">
    <div class="menu-item active">分类</div>
    <div class="menu-item">订单</div>
  </div>
  <div class="menu-container">
    <div id="category">
      <div class="head">
        <input type="checkbox" id="category-check">
        <label for="category-check">共计3个分类</label>
      </div>
      <ul class="items-list">
        <li class="category-item active">
          <input type="checkbox">
          <span>KT板</span>
        </li>

        <li class="category-item">
          <input type="checkbox">
          <span>KT板</span>
        </li>
        <li class="category-item">
          <input type="checkbox">
          <span>KT板</span>
        </li>
        <li class="category-item">
          <input type="checkbox">
          <span>KT板</span>
        </li>
      </ul>
      <div class="category-add">
        <input type="text" placeholder="输入分类名称" spellcheck="false" autocomplete="off">
        <button class="btn add-button">新增</button>
      </div>
    </div>
    <div id="order">
      <div class="head">
        <input type="checkbox" id="order-check">
        <label for="order-check">共计3个订单</label>
      </div>
      <ul class="items-list">
        <li class="order-item">
          <input type="checkbox">
          <div class="item-detail">
            <span class="order-title">人民医院贴字</span>
            <span class="order-date">2017-08-29 18:20:30 (星期二)</span>
          </div>
        </li>

        <li class="order-item active">
          <input type="checkbox">
          <div class="item-detail">
            <span class="order-title">人民医院贴字</span>
            <span class="order-date">2017-08-29 18:20:30 (星期二)</span>
          </div>
        </li>
        <li class="order-item">
          <input type="checkbox">
          <div class="item-detail">
            <span class="order-title">人民医院贴字</span>
            <span class="order-date">2017-08-29 18:20:30 (星期二)</span>
          </div>
        </li>



      </ul>
    </div>
  </div>
</div>
