@m_width: 250px;

#side-menu {
  display: flex;
  flex-direction: column;
  width: @m_width;
  height: 100%;
  font-size: 14px;
  border-right: 1px solid #eee;
  cursor: default;
  user-select: none;
  overflow-x: hidden;
  overflow-y: auto;
  .menu-option {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    box-shadow: 0 3px 10px 1px #eee;
    .menu-item {
      display: flex;
      position: relative;
      flex: 1;
      justify-content: center;
      font-size: 14px;
      &:first-child {
        border-right: 1px solid #e8e8e8;
      }
    }
    .active:after {
      position: absolute;
      top: 27px;
      left: 0;
      content: '';
      width: 100%;
      height: 3px;
      background-color: #228bb4;
    }
  }
  .menu-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    min-height: 300px;
    .activeMenu {
      display: flex!important;
    }
    .head {
      position: relative;
      padding: 0 15px;
      height: 30px;
      line-height: 30px;
      background-color: #f6f8fa;
      label {
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
      }
    }
    #category {
      display: none;
      flex-direction: column;
      flex-grow: 1;
      .items-list {
        position: relative;
        flex-grow: 1;
        .category-item {
          padding: 0 15px;
          position: relative;
          height: 30px;
          line-height: 30px;
          span {
            position: absolute;
            top: 0;
            left: 38px;
          }
          button.btn {
            display: none;
            position: absolute;
            right: 10px;
            top: 4px;
            padding: 3px 6px;
            border-radius: 6px;
            font-size: 12px;
          }
          &:hover button.btn {
            display: block;
          }
          &:hover {
            background-color: #ebeef1;
          }
        }
        .active {
          color: white;
          background-color: #0366d6;
        }
        .active:hover {
          .active;
        }
      }
    }
    .category-add {
      display: flex;
      //position: absolute;
      flex-shrink: 0;
      bottom: 0;
      left: 0;
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      border-top: 1px solid #eee;
      input {
        display: flex;
        padding: 5px;
        box-sizing: border-box;
        width: 75%;
        border: none;
        &:focus {
          outline: none;
        }
      }
      button {
        display: flex;
        justify-content: center;
        width: 25%;
      }
    }
    #order {
      display: none;
      flex-direction: column;
      .items-list {
        position: relative;
        .order-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0 15px;
          position: relative;
          height: 60px;
          line-height: 30px;
          border-bottom: 1px solid #eee;
          .item-detail {
            display: flex;
            flex-direction: column;
            margin-left: 15px;
            span {
              line-height: 20px;
            }
            .order-date {
              color: #cecece;
              font-size: 12px;
            }
          }
          &:hover {
            background-color: #ebeef1;
          }
        }
        .active {
          color: white;
          background-color: #0366d6;
        }
        .active:hover {
          .active;
        }
      }
    }
  }
}

.modal-mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
}
.my-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  .dialog-modal {
    user-select: none;
    .dialog-content {
      .modal-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        width: 100%;
        height: 36px;
        background-color: #f1f1f1;
        box-sizing: border-box;
        font-weight: bold;
        cursor: default;
        .modal-header-close {
          display: block;
          width: 20px;
          height: 20px;
          cursor: pointer;
          color: #cecece;
        }
      }
      .modal-body {
        padding: 20px 30px;
        .modal-tip {
          margin-bottom: 18px;
        }
        .input-item {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 10px;
          height: 38px;
          label {
            width: 88px;
          }
          input.modal-input {
            display: block;
            flex: 1;
            height: 26px;
            border: none;
            border-bottom: 1px solid #ccc;
            &:focus {
              outline: none;
            }
          }
        }
      }
      .modal-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 90px 20px 90px;
        .btn {
          padding: 6px 10px;
          border-radius: 3px;
        }
      }
    }
  }
}