<div id="side-menu">
  <div class="menu-option">
    <div class="menu-item" [ngClass]="{'active': menuStatus.category}" (click)="menuSwitch('category')">分类</div>
    <div class="menu-item" [ngClass]="{'active': menuStatus.order}" (click)="menuSwitch('order')">订单</div>
  </div>
  <div class="menu-container">
    <div id="category" [ngClass]="{'activeMenu': menuStatus.category}" appCheckedAll>
      <div class="head">
        <input type="checkbox" id="category-check" class="check check-all">
        <label for="category-check">共计3个分类</label>
      </div>
      <ul class="items-list">
        <li class="category-item" [ngClass]="{'active': category.current}" *ngFor="let category of categoryList;let i=index" (click)="selectItem(i, categoryList)">
          <input type="checkbox" class="check">
          <span>{{ category.name }} ({{ category.num }})</span>
        </li>
      </ul>
      <div class="category-add">
        <input type="text" placeholder="输入分类名称" spellcheck="false" autocomplete="off" [(ngModel)]="addCategoryName">
        <button class="btn add-button" (click)="addCategory(addCategoryName)">新增</button>
      </div>
    </div>
    <div id="order" [ngClass]="{'activeMenu': menuStatus.order}" appCheckedAll>
      <div class="head">
        <input type="checkbox" id="order-check" class="check check-all">
        <label for="order-check">共计3个订单</label>
      </div>
      <ul class="items-list">
        <li class="order-item" [ngClass]="{'active': order.current}" *ngFor="let order of orderList;let i=index" (click)="selectItem(i, orderList)">
          <input type="checkbox" class="check">
          <div class="item-detail">
            <span class="order-title">{{ order.name }}</span>
            <span class="order-date">{{ order.date | date:'y-MM-dd H:mm:ss (EEE)' }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
